@import 'scss/variables.scss';

.details-component {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .chips-container {
    display: flex;
    flex-wrap: wrap;
    .chip {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .load-more-button {
      background: transparent;
      color: $primary;
    }
  }
}
