@import 'scss/variables.scss';
.navbar-component {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  .container {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .title {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      .button {
        background: transparent;
        outline: none;
        cursor: pointer;
      }

      svg path {
        stroke: $gray-text;
      }

      h2 {
        text-align: left;
        color: $gray-text;
        display: inline;
        margin: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .navbar-component {
    .container {
      padding: 0.5rem 1.5rem;

      .title {
        .button {
          margin-right: 0.75rem;
        }

        svg {
          width: 1rem;
          height: 1rem;
        }

        h2 {
          font-size: 1.5em;
        }
      }

      .logo {
        height: 4rem;
      }
    }
  }
}
@media (min-width: $desktop) {
  .navbar-component {
    .container {
      max-width: 120rem; // 16 * 120 = 1920px
      padding: 1rem 7.25rem;

      .title {
        .button {
          margin-right: 2.25rem;
        }

        svg {
          width: 3rem;
          height: 3rem;
        }

        h2 {
          font-size: 4em;
        }
      }

      .logo {
        height: 8.5625rem;
      }
    }
  }
}