@import 'scss/variables.scss';

.select-style {
  border-bottom: 0.14rem solid $primary;
  height: fit-content;
  position: relative;

  label {
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
  }

  .label-placeholder {
    color: $gray-text;
    position: absolute;
    top: 1.25rem;
    margin: 0;
    left: 0;
    transition: all .3s;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
  }

  select {
    z-index: 1;
    margin-top: 1.25rem;
    width: 100%;
    border: 0;
    padding: 0;
    border-bottom: 0.14rem solid $primary;
    font-size: 1rem;
    color: $black;

    &:focus {
      outline: none;

      & + label .label-placeholder {
        top:0;
        font-size: 0.75em;
      }
    }

    &.valid + label .label-placeholder {
      top:0;
      font-size: 0.75em;
    }
  }
}

.select-style select {
  font-size: 1rem;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
}

.select-style select:focus {
  outline: none;
}