@import 'scss/variables.scss';

.input-text-container {
  position: relative;

  label {
    width: 100%;
    margin: 0;
  }

  .label-placeholder {
    color: rgba(0,0,0, 0.42);
    position: absolute;
    top: 1.25rem;
    margin: 0;
    left: 0;
    transition: all .3s;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    margin-top: 1.25rem;
    width: 100%;
    border: 0;
    padding: 0;
    border-bottom: 0.14rem solid $primary;
    font-size: 1rem;
    &:focus {
      outline: none;

      & + .label-placeholder {
        top:0;
        font-size: 0.75em;
      }
    }

    &.valid + .label-placeholder {
      top:0;
      font-size: 0.75em;
    }
  }

  .input-counter {
    font-size: 0.6rem;
    width: 100%;
    float: left;
    text-align: right;

    &.error {
      color: $warning;
      font-weight: bold;
    }
  }
}
