@import 'scss/variables.scss';
.swipeout-mask {
  background: $swipeout-mask;
  color: $white;

  .rc-swipeout-btn-text {
    position: relative;
    margin-top: 1.5rem;
    &::before {
      position: absolute;
      content: '';
      background: url('../../../../assets/icons/trash.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 1.25rem;
      left: 0;
      top: -1.5rem;
      margin: auto;
    }
  }
}
.favourite-item {
  &.list-item {
    padding: 0;
  }
  .swipeout-container {
    padding: 0.75rem 1.5rem;
  }
  &:not(.mobile):hover {
    background: $gray;
    cursor: pointer;
    .bottom-container .button-delete {
      display: block;
    }
  }
  .bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875em;
    .button-delete {
      display: none;
      color: $delete-button;
      background: transparent;
      cursor: pointer;
      outline: none;
      svg {
        fill: $delete-button;
        margin-right: .25rem;
      }
    }
  }
}