@import 'scss/variables.scss';

.search-form {
  display: flex;

  .inputs {
    display: flex;
  }

  .button-container {
    .button {
      background: $white;
      color: $primary;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 0.875em;

      svg {
        width: 0.625rem;
        margin-right: 0.25rem;
      }
    }
  }
}

@media (max-width: $mobile) {
  .search-form {
    padding: 0;
    flex-direction: column;
    margin-bottom: 0.5rem;

    .inputs {
      width: 100%;
      padding: 1.5rem 1rem;
      flex-direction: column;

      .input-item {
        flex-basis: 100%;
      }
    }

    .button-container {
      border-top: 1px solid $gray;
      width: 100%;
      padding: 0.75rem 1rem;

      .button {
        margin-left: auto;
      }
    }
  }
}

@media (min-width: $desktop) {
  .search-form {
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    margin-bottom: 1.5625rem;

    .inputs {
      justify-content: space-between;
      margin-right: 2.5rem;
      flex-grow: 1;

      .input-item {
        flex-basis: calc(50% - 2.5rem);
      }
    }

    .button-container {
      margin-left: 2.5rem;
    }
  }
}
