
.result-item {
  .chevron {
    position: absolute;
    bottom: 0;
    outline: none;
    background: transparent;
    width: 100%;
    bottom: 0;
    left: 0;

    svg {
      cursor: pointer;
    }
  }
}
