@import 'scss/variables.scss';

.search-results-list-component {
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

    .load-more-button {
      color: $primary;
      background: transparent;
      font-size: 1rem;
      padding: 1rem;
    }
  }
}
