@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: $default;
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  touch-action: manipulation;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: inherit;
  font-weight: normal;
  line-height: normal;
  color: inherit;
}

p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

input, select {
  line-height: inherit;
}

.shadow {
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.15);
}

.bg-white {
  background-color: white;
}

.bg-primary {
  background-color: $primary;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-family: inherit;
  font-weight: normal;
  line-height: normal;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

input,
select {
  line-height: inherit;
}

.shadow {
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.15);
}

.bg-white {
  background-color: white;
}

.bg-primary {
  background-color: $primary;
}

button:disabled,
button[disabled] {
  cursor: not-allowed !important;
  opacity: 0.4;
}

.word-wrap-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.loader {
  border: 0.285rem solid white;
  border-radius: 50%;
  border-top: 0.285rem solid $primary;
  width: 2.142rem;
  height: 2.142rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;

  &.loader-sm {
    border-width: 0.15rem;
    border-top-width: 0.15rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  &.gray {
    border-color: $gray;
    border-top-color: $primary;
  }
}

.main-container {
  margin: 0;
  width: 100%;
  max-width: none;
}

.chip {
  font-size: 0.875em;
  padding: 0.125em .75em;
  background: $chip-blue;
  border-radius: 1.375em;

  &.chip-yellow {
    background: $chip-yellow;
  }
}

.list-container {
  .list-item {
    color: rgba(0, 0, 0, 0.87);

    &:focus {
      outline: none;
    }

    .item-title {
      font-size: 1.25em;
      text-align: left;
      font-weight: 400;
      margin-bottom: 0.75rem;
    }
  }
}

.no-results {
  margin: auto;
}

.main-container {
  margin: 0;
  width: 100%;
  max-width: none;
}

.chip {
  font-size: 0.875em;
  padding: 0.125em .75em;
  background: #a4e2fd;
  border-radius: 1.375em;

  &.chip--yellow {
    background: #fde2b4;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.listContainer {
  display: flex;

  .listItem {
    position: relative;
    padding: 0.75rem 1.5rem;
    color: rgba(0,0,0, .87);

    &:focus {
      outline: none;
    }

    .listItem__title {
      font-size: 1.25em;
      text-align: left;
      font-weight: 400;
      margin-bottom: 0.75rem;
    }
  }
}

@media (max-width: $mobile) {
  .main-container {
    padding: 0 0.5rem;
    margin-top: 5.5rem; // 4 + 2*0.5 +0.5
  }

  .list-container {
    display: flex;
    flex-direction: column;

    &.desktop-view {
      display: none;
    }

    .list-item {
      position: relative;
      padding: 0.75rem 1.5rem;
      margin-bottom: 0.5rem;
      color: rgba(0, 0, 0, 0.87);
      width: 100%;
    }
  }
}

@media (min-width: $desktop) {
  .main-container {
    padding: 0 11.25rem;
    margin-top: 12.25rem; // 8.5625 + 2*1 + 1.6875
  }

  .list-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% + 1.5rem);

    &.mobile-view {
      display: none;
    }

    .list-item {
      width: calc(33.3333% - 1.5rem);
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      padding: 0.75rem 1.5rem;
      color: rgba(0, 0, 0, 0.87);
      background: $white;
      position: relative;
    }
  }
}
