$white: #fff;
$black: #000;
$default: #ededed;
$primary: #55c4f5;
$warning: #dc143c;
$gray: #e5e5e5;
$delete-button: rgba(0, 0, 0, .56);
$gray-text: rgba(0, 0, 0, 0.42);
$chip-blue: #a4e2fd;
$chip-yellow: #fde2b4;
$swipeout-mask: #0095c6;
$mobile: 1024px;
$desktop: 1025px;